* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,
a {
    color: #333;
    text-decoration: none;
}
h1, h2, h3 {
    padding-bottom: 20px;
}
body ul li {
    margin-left: 20px;
}
#navbar {
    background: rgb(241, 58, 58);
    color: #fff;
    overflow: auto;
    
}
#navbar a {
    color: #fff;
}
#navbar img {
    float: left;
}
#navbar h1 {
    float: left;
    padding: 15px;
}
#navbar ul {
    list-style: none;
    float: right;
}
#navbar ul li {
    float: left;
}
#navbar ul li a {
    display: block;
    padding: 20px;
    text-align: center;
}
#navbar ul li a:hover,
#navbar ul li a.current {
    border-color: #3d8e33;
    background: #f4f4f4;
    color: #5bbf21 ;
}
.container {
    margin: auto;
    max-width: 90%;
    overflow: auto;
}
.text-primary {
    color: #bf2121;
}
.py-3 {
    padding: 30px 0;
    padding-bottom: 155px;
}
.box {
    width: 33.3%;
    padding: 54.5px 0;
    text-align: center;
    float: left;
    border-radius: 10px;
    height: 25%;
}
.box i {
    margin-bottom: 0px;
}
.btn {
    display: inline-block;
    font-size: 18px;
    color: #fff;
    background: #5b2121;
    padding: 13px 20px;
    border: none;
    cursor: pointer;
}
.btn:hover {
    background: #bf2121;
}
.btn-light {
    background: #f4f4f4;
    color: #5b2121;
}
.bg-dark {
    background: #5b2121;
    color: #fff;
}
.l-heading {
    font-size: 40px;
}
.l-heading1 {
    font-size: 40px;
    text-align: center;
    color: #dfe32a;
}
#main-footer {
    text-align: center;
    background: rgb(138, 32, 32);
    color: #aaafff; 
    padding: 20.5px;
    width: 100%;
    float: left;
}
#about-info .info-left {
    
    float: left;
    width: 40%;
    min-width: 100%;
}
#contact-form .form-group {
    margin: 10px 0;
    margin-bottom: 20px;
}
 
#contact-form label {
    margin: 10px 0;
    display: block;
    margin-bottom: 5px;
}
 
#contact-form input,
#contact-form textarea:focus {
    margin: 10px 0;
    outline: none;
    border-color: #bf2121;
}
