body {
    background-image: url(https://images5.alphacoders.com/134/1344515.png) ;
    background-size: cover;
}
#welcome h1 {
    font-family: 'Courier New', Courier, monospace;
    color: red;
}
#welcome h2 {
    color: #f839ad;
}
#welcome h3 {
    color: rgb(red, green, blue);
}
#welcome h4 {
    font-style: italic;
    color: blueviolet;
}
#welcome p {
    font-weight: bold;
}
#welcome p span {
    font-family: Arial, Helvetica, sans-serif;
    color: green;
}
#about h1 {
    font-size: xx-large;
}
#about h2 {
    color: yellow;
}
#about h3 {
    font-stretch: semi-expanded;
}
#about p {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    color: orangered;
}
#about p span {
    font-weight: bold;
    font-style: italic;
    color: #356825;
}